/* For small screen sizes */
@media only screen and (max-width: 768px) {
  .Section {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
  }

  .Welcome-page {
    text-align: center;
    background: linear-gradient(to right, #ED213A, #93291E 100%);
    z-index: 99999;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .Round-image {
    border-radius: 50%;
    max-width: 75%;
    height: auto;
    width: auto\9;
  }

  .Top-text {
    color: white;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }

  .Top-infotext {
    color: white;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .Header-text {
    text-align: center;
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
  }

  .Introduction {
    height: 100%;
    padding: 15px;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    /* background-color: #e6e6e6; */
    /* border: 5px solid #ED213A;
    border-radius: 25px; */
  }

  .Introduction-text {
    font-size: 20px;
    color: #97040E;
    line-height: 1.15;
  }

  .Qualifications {
    display: inline-block;
    height: 100%;
    padding: 15px;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .Work-col {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  .Learn-col {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  .Project-logo-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    text-align: center;
  }

  .Small-infotext {
    color: #676767;
    font-size: 20px;
  }

  .Project-info-container {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  .Tools {
    display: inline-block;
    height: 100%;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .Tool-col-left {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  .Tool-col-right {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  .Tool-logo {
    max-width: 45%;
    width: auto;
    height: auto;
    padding: 5px;
  }

  .Contact {
    display: inline-block;
    height: 100%;
    padding: 15px;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

/* For normal screen sizes */
@media only screen and (min-width: 768px) {
  .Section {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
    margin-top: 10px;
  }

  .Welcome-page {
    text-align: center;
    background: linear-gradient(to right, #ED213A, #93291E 100%);
    z-index: 99999;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .Round-image {
    border-radius: 50%;
    max-width: 75%;
    height: auto;
    width: auto;
  }

  .Top-text {
    color: white;
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }

  .Top-infotext {
    color: white;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .Header-text {
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
  }

  .Introduction {
    height: 100%;
    padding: 10px;
    max-width: 960px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: justify;
    text-align-last: center;
  }

  .Introduction-text {
    font-size: 30px;
    color: #97040E;
    line-height: 1.35;
  }

  .Qualifications {
    display: inline-block;
    height: 100%;
    padding: 15px;
    max-width: 960px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .Work-col {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    float: left;
    text-align: center;
  }

  .Learn-col {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    float: right;
    text-align: center;
  }

  .Small-infotext {
    color: #676767;
    font-size: 25px;
  }

  .Project-logo-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
    float: left;
    text-align: center;
  }

  .Project-info-container {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: right;
    text-align: justify;
  }

  .Tools {
    display: inline-block;
    height: 100%;
    padding: 15px;
    max-width: 960px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .Tool-col-left {
    height: auto;
    width: 49.5%;
    float: left;
    text-align: center;
  }

  .Tool-col-right {
    height: auto;
    width: 49.5%;
    float: right;
    text-align: center;
  }

  .Tool-logo {
    max-width: 25%;
    width: auto;
    height: auto;
  }

  .Contact {
    display: inline-block;
    height: 100%;
    padding: 15px;
    max-width: 960px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.Logo {
  max-width: 90%;
  width: auto;
  height: auto;
}

.Project-logo {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 5px solid #97040E;
  border-radius: 50%;
}

.Project-info {
  display: inline-block;
  height: auto;
  width: 100%;
}

.Findme-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.Footer{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Footer-text {
  color: #676767;
  font-size: 15px
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 20px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #97040E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

textarea {
  height: 200px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ED213A;
}

.container {
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
